<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">


	
	
<ui:composition template="WEB-INF/basic.xhtml">
	<ui:define name="header">
		<link rel="stylesheet" href="site.css"/> 
	</ui:define>
	<ui:define name="content">
	some link to visit 
	<hr/>
	
	    http://www.exadel.com/tutorial/jsf/jsftags-guide.html#command
	    <br/>
	    http://courses.coreservlets.com/course-materials
	    <br/>
	    http://www.w3.org/html/wg/drafts/html/master/
	    <br/>
	    <hr/>
	    
	    <h:form id="login">
	    <div class="fond">
		    login : <h:inputText id="textlogin" value="#{login.name}"></h:inputText>
		    <br/>
		    pwd : <h:inputSecret id="textpwd" redisplay="false"></h:inputSecret>
		    <br/>
		    <h:commandButton
	   			id="submit"
	   			value="#{login.buttonHeader}"
	   			action="#{login.valid}">
			</h:commandButton>
			<br/>
			<h:inputText id="textValid" value="#{login.respValid}"></h:inputText>
		</div>
	    </h:form>
	    
	</ui:define>
	
	
</ui:composition>
</html>