<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

	<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
	<ui:composition template="WEB-INF/basic.xhtml">
			<ui:define name="header">Title</ui:define>
			<ui:define name="header">Header</ui:define>
			<ui:define name="content">
				<h:form id="FormOk">
					OOOOOOKey!!!!!
				</h:form>
			</ui:define>
	</ui:composition>

</html>